apiVersion: v2
name: lakesail
description: A Helm chart for the LakeSail Framework

type: application
version: 0.1.0
appVersion: "0.1.0"

keywords:
  - lakesail

dependencies:
# TODO: Re-enable cert-manager dependency when admissionWebhooks are enabled.
#  - name: cert-manager
#    version: v1.14.4
#    repository: https://charts.jetstack.io
#    alias: cert-manager
#    condition: cert-manager.enabled
  - name: opentelemetry-operator
    version: 0.52.4
    repository: https://open-telemetry.github.io/opentelemetry-helm-charts
    alias: opentelemetry-operator
    condition: opentelemetry-operator.enabled