version: 2
updates:
  - package-ecosystem: cargo
    directory: "/"
    schedule:
      interval: weekly
    commit-message:
      prefix: "deps(cargo)"
    open-pull-requests-limit: 5
    target-branch: main
    groups:
      all:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"
      breaking:
        update-types:
          - "major"
    ignore:
      - dependency-name: "datafusion"
      - dependency-name: "datafusion-*"
      - dependency-name: "arrow"
      - dependency-name: "arrow-*"
      - dependency-name: "sqlparser"
      - dependency-name: "pyo3"
      - dependency-name: "object_store"
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: weekly
    commit-message:
      prefix: "deps(npm)"
    open-pull-requests-limit: 5
    target-branch: main
    groups:
      all:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"
      breaking:
        update-types:
          - "major"
    ignore:
      - dependency-name: "@types/node"
