[workspace]
members = [
    "crates/*",
]
resolver = "2"

[workspace.package]
version = "0.1.3"
edition = "2021"

[workspace.dependencies]
thiserror = { version = "1.0.63" }
tokio = { version = "1.40.0", features = ["full"] }
tokio-stream = "0.1.16"
tonic = { version = "0.11", features = ["tls", "tls-roots", "gzip", "zstd"] }
tonic-build = "0.11"
tonic-reflection = "0.11"
tonic-health = "0.11"
tonic-types = "0.11"
prost-build = "0.12"
prost = "0.12"
prost-types = "0.12"
pbjson = "0.6"
pbjson-types = "0.6"
pbjson-build = "0.6"
tower = { version = "0.4", features = ["full"] }
tower-http = { version = "0.4", features = ["full"] }
uuid = { version = "1.10.0", features = ["v4"] }
async-trait = "0.1.82"
async-recursion = "1.1.0"
async-stream = "0.3"
lazy_static = "1.5.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_bytes = "0.11"
monostate = "0.1"
regex = "1.10"
glob = "0.3"
chrono = "0.4"
chrono-tz = "0.10.0"
futures = "0.3"
comfy-table = "7.1"
html-escape = "0.2"
syn = "2.0.77"
quote = "1.0.37"
prettyplease = "0.2.22"
phf = { version = "0.11.2", features = ["macros"] }
ryu = "1.0.18"
either = "1.12.0"
num-traits = "0.2.19"
serde_arrow = { version = "0.11.8", features = ["arrow-53"] }
mimalloc = { version = "0.1.43", features = ["local_dynamic_tls"] }
rand = "0.8.5"
rand_chacha = "0.3.1"
rand_distr = "0.4.3"
url = "2.5.2"
lexical-core = { version = "1.0.1", default-features = false, features = ["write-integers", "write-floats", "parse-integers", "parse-floats"] }
aws-config = "1.5.5"
aws-credential-types = "1.2.1"
clap = { version = "4.5.17", features = ["derive"] }
num_enum = "0.7.3"
log = "0.4.22"
env_logger = "0.11.5"
fastrace = { version = "0.7.2", features = ["enable"] }
fastrace-opentelemetry = "0.7.2"
opentelemetry = "0.24.0"
opentelemetry_sdk = "0.24.1"
opentelemetry-otlp = { version = "0.17.0", features = ["tls", "tls-roots"] }

######
# The versions of the following dependencies are managed manually.
######
datafusion = { version = "42.0.0", features = ["serde", "pyarrow"] }
datafusion-common = { version = "42.0.0", features = ["object_store", "pyarrow"] }
datafusion-expr = "42.0.0"
datafusion-functions-nested = "42.0.0"
datafusion-functions-json = "0.42.0"
# auto-initialize: Changes [`Python::with_gil`] to automatically initialize the Python interpreter if needed.
pyo3 = { version = "0.22.0", features = ["auto-initialize", "serde"] }
# Should be the equivalent of enabling the pyarrow feature in datafusion since we already have pyo3 in the workspace
arrow = { version = "53.0.0", features = ["ffi", "pyarrow"] }
arrow-cast = { version = "53.0.0" }
arrow-schema = { version = "53.0.0" }
# The `object_store` version must match the one used in DataFusion.
object_store = { version = "0.11.0", features = ["aws", "gcp", "azure", "http"] }
# We use a patched latest version of sqlparser. The version may be different from the one used in DataFusion.
sqlparser = { git = "https://github.com/lakehq/sqlparser-rs.git", rev = "f631629", features = ["serde", "visitor"] }
######
# This is the end of the manually managed dependencies.
# Do not add more dependencies below.
######

[patch.crates-io]
# Override dependencies to use our forked versions.
# You can use `path = "..."` to temporarily point to your local copy of the crates to speed up local development.

[profile.release]
# https://doc.rust-lang.org/cargo/reference/profiles.html#release
opt-level = 3
debug = false
debug-assertions = false
overflow-checks = false
lto = true
panic = 'unwind'
incremental = false
codegen-units = 1
