[workspace]
members = [
    "crates/*",
]
resolver = "2"

[workspace.package]
version = "0.2.0"
edition = "2021"

[workspace.dependencies]
thiserror = { version = "2.0.9" }
tokio = { version = "1.42.0", features = ["full"] }
tokio-stream = "0.1.17"
tonic = { version = "0.12.3", features = ["tls", "tls-roots", "gzip", "zstd"] }
tonic-build = "0.12.3"
tonic-reflection = "0.12.3"
tonic-health = "0.12.3"
tonic-types = "0.12.3"
prost-build = "0.13.3"
prost = "0.13.4"
prost-types = "0.13.4"
pbjson = "0.7.0"
pbjson-types = "0.7.0"
pbjson-build = "0.7.0"
tower = { version = "0.5", features = ["full"] }
tower-http = { version = "0.6.2", features = ["full"] }
uuid = { version = "1.10.0", features = ["v4"] }
async-trait = "0.1.83"
async-recursion = "1.1.0"
async-stream = "0.3"
lazy_static = "1.5.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_bytes = "0.11"
monostate = "0.1"
regex = "1.10"
glob = "0.3"
chrono = "0.4"
chrono-tz = "0.10.0"
futures = "0.3"
comfy-table = "7.1"
html-escape = "0.2"
syn = "2.0.91"
quote = "1.0.37"
prettyplease = "0.2.24"
phf = { version = "0.11.2", features = ["macros"] }
ryu = "1.0.18"
either = "1.12.0"
num-bigint = "0.4.6"
num-traits = "0.2.19"
serde_arrow = { version = "0.12.2", features = ["arrow-53"] }
mimalloc = { version = "0.1.43", default-features = false }
rand = "0.8.5"
rand_chacha = "0.3.1"
rand_distr = "0.4.3"
url = "2.5.4"
lexical-core = { version = "1.0.5", default-features = false, features = ["write-integers", "write-floats", "parse-integers", "parse-floats"] }
aws-config = "1.5.11"
aws-credential-types = "1.2.1"
clap = { version = "4.5.23", features = ["derive"] }
num_enum = "0.7.3"
log = "0.4.22"
env_logger = "0.11.6"
fastrace = { version = "0.7.4", features = ["enable"] }
fastrace-opentelemetry = "0.7.4"
opentelemetry = "0.26.0"
opentelemetry_sdk = "0.26.0"
opentelemetry-otlp = { version = "0.26.0", features = ["tls", "tls-roots"] }
hdfs-native-object-store = "0.12.1"
figment = { version = "0.10.19", features = ["toml", "env"] }
kube = "0.96.0"
k8s-openapi = { version = "0.23.0", features = ["latest"] }
twox-hash = "2.1.0"
aes = "0.8.4"
aes-gcm = "0.10.3"
cbc = { version = "0.1.2", features = ["std"] }
base64 = "0.22.1"
md-5 = "0.10.6"

######
# The versions of the following dependencies are managed manually.
######

datafusion = { git = "https://github.com/apache/datafusion.git", rev = "073a3b1", features = ["serde", "pyarrow", "avro"] }
datafusion-common = { git = "https://github.com/apache/datafusion.git", rev = "073a3b1", features = ["object_store", "pyarrow", "avro"] }
datafusion-expr = { git = "https://github.com/apache/datafusion.git", rev = "073a3b1" }
datafusion-expr-common = { git = "https://github.com/apache/datafusion.git", rev = "073a3b1" }
datafusion-proto = { git = "https://github.com/apache/datafusion.git", rev = "073a3b1" }
datafusion-functions-nested = { git = "https://github.com/apache/datafusion.git", rev = "073a3b1" }
#datafusion-functions-json = "0.43.0"
# auto-initialize: Changes [`Python::with_gil`] to automatically initialize the Python interpreter if needed.
pyo3 = { version = "0.22.0", features = ["auto-initialize", "serde"] }
arrow-flight = { version = "53.3.0" }
# The `object_store` version must match the one used in DataFusion.
object_store = { version = "0.11.0", features = ["aws", "gcp", "azure", "http"] }
# We use a patched latest version of sqlparser. The version may be different from the one used in DataFusion.
sqlparser = { git = "https://github.com/lakehq/sqlparser-rs.git", rev = "69514bb", features = ["serde", "visitor"] }

######
# This is the end of the manually managed dependencies.
# Do not add more dependencies below.
######

[patch.crates-io]
# Override dependencies to use our forked versions.
# You can use `path = "..."` to temporarily point to your local copy of the crates to speed up local development.
datafusion = { git = "https://github.com/apache/datafusion.git", rev = "073a3b1" }
datafusion-catalog = { git = "https://github.com/apache/datafusion.git", rev = "073a3b1" }
datafusion-common = { git = "https://github.com/apache/datafusion.git", rev = "073a3b1" }
datafusion-common-runtime = { git = "https://github.com/apache/datafusion.git", rev = "073a3b1" }
datafusion-doc = { git = "https://github.com/apache/datafusion.git", rev = "073a3b1" }
datafusion-execution = { git = "https://github.com/apache/datafusion.git", rev = "073a3b1" }
datafusion-expr = { git = "https://github.com/apache/datafusion.git", rev = "073a3b1" }
datafusion-expr-common = { git = "https://github.com/apache/datafusion.git", rev = "073a3b1" }
#datafusion-ffi = { git = "https://github.com/apache/datafusion.git", rev = "073a3b1" }
datafusion-functions = { git = "https://github.com/apache/datafusion.git", rev = "073a3b1" }
datafusion-functions-aggregate = { git = "https://github.com/apache/datafusion.git", rev = "073a3b1" }
datafusion-functions-aggregate-common = { git = "https://github.com/apache/datafusion.git", rev = "073a3b1" }
datafusion-functions-nested = { git = "https://github.com/apache/datafusion.git", rev = "073a3b1" }
datafusion-functions-table = { git = "https://github.com/apache/datafusion.git", rev = "073a3b1" }
datafusion-functions-window = { git = "https://github.com/apache/datafusion.git", rev = "073a3b1" }
datafusion-functions-window-common = { git = "https://github.com/apache/datafusion.git", rev = "073a3b1" }
datafusion-macros = { git = "https://github.com/apache/datafusion.git", rev = "073a3b1" }
datafusion-optimizer = { git = "https://github.com/apache/datafusion.git", rev = "073a3b1" }
datafusion-physical-expr = { git = "https://github.com/apache/datafusion.git", rev = "073a3b1" }
datafusion-physical-expr-common = { git = "https://github.com/apache/datafusion.git", rev = "073a3b1" }
datafusion-physical-optimizer = { git = "https://github.com/apache/datafusion.git", rev = "073a3b1" }
datafusion-physical-plan = { git = "https://github.com/apache/datafusion.git", rev = "073a3b1" }
datafusion-proto = { git = "https://github.com/apache/datafusion.git", rev = "073a3b1" }
datafusion-proto-common = { git = "https://github.com/apache/datafusion.git", rev = "073a3b1" }
datafusion-sql = { git = "https://github.com/apache/datafusion.git", rev = "073a3b1" }

[profile.release]
# https://doc.rust-lang.org/cargo/reference/profiles.html#release
opt-level = 3
debug = false
debug-assertions = false
overflow-checks = false
lto = true
panic = 'unwind'
incremental = false
codegen-units = 1
