[workspace]
members = [
    "crates/*",
]
resolver = "2"

[workspace.package]
version = "0.3.0"
authors = ["LakeSail <hello@lakesail.com>"]
edition = "2021"
homepage = "https://lakesail.com"
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/lakehq/sail"
# Define Minimum Supported Rust Version (MSRV) the same as DataFusion
rust-version = "1.82.0"

[workspace.dependencies]
thiserror = { version = "2.0.12" }
tokio = { version = "1.45.1", features = ["full"] }
tokio-stream = "0.1.17"
prost-build = "0.13.5"
prost = "0.13.5"
pbjson = "0.7.0"
pbjson-types = "0.7.0"
pbjson-build = "0.7.0"
tower = { version = "0.5.2", features = ["full"] }
uuid = { version = "1.17.0", features = ["v4"] }
async-trait = "0.1.88"
async-recursion = "1.1.1"
async-stream = "0.3.6"
lazy_static = "1.5.0"
serde = { version = "1.0.219", features = ["derive"] }
serde_json = "1.0.140"
serde_yaml = "0.9.34"
monostate = "0.1.14"
regex = "1.11.1"
glob = "0.3.2"
chrono = "0.4.41"
chrono-tz = "0.10.3"
futures = "0.3.31"
comfy-table = "7.1.4"
html-escape = "0.2.13"
syn = "2.0.104"
quote = "1.0.40"
paste = "1.0.15"
proc-macro2 = "1.0.95"
prettyplease = "0.2.35"
phf = { version = "0.11.3", features = ["macros"] }
ryu = "1.0.20"
either = "1.15.0"
num-bigint = "0.4.6"
mimalloc = { version = "0.1.47", default-features = false }
rand = "0.9.1"
rand_chacha = "0.9.0"
rand_distr = "0.5.1"
url = "2.5.4"
lexical-core = { version = "1.0.5", default-features = false, features = ["write-integers", "write-floats", "parse-integers", "parse-floats"] }
aws-config = "1.6.3"
aws-credential-types = "1.2.3"
aws-smithy-runtime-api = "1.8.0"
aws-smithy-types = "1.3.1"
aws-smithy-async = "1.2.5"
clap = { version = "4.5.38", features = ["derive"] }
num_enum = "0.7.4"
num-traits = "0.2.19"
log = "0.4.27"
env_logger = "0.11.8"
fastrace = { version = "0.7.12", features = ["enable"] }
fastrace-opentelemetry = "0.9.0"
opentelemetry = "0.28.0"
opentelemetry_sdk = "0.28.0"
opentelemetry-otlp = { version = "0.28.0", features = ["tls", "tls-roots", "grpc-tonic"] }
figment = { version = "0.10.19", features = ["toml", "env"] }
kube = "1.0.0"
k8s-openapi = { version = "0.25.0", features = ["latest"] }
twox-hash = "2.1.1"
aes = "0.8.4"
aes-gcm = "0.10.3"
cbc = { version = "0.1.2", features = ["std"] }
base64 = "0.22.1"
md-5 = "0.10.6"
crc32fast = "1.4.2"
sha1 = "0.10.6"
half = { version = "2.6.0", features = ["serde", "num-traits", "zerocopy"] }
iana-time-zone = "0.1.63"
chumsky = { version = "0.10.1", default-features = false, features = ["pratt"] }
num = "0.4.3"
hf-hub = { version = "0.4.3", default-features = false, features = ["tokio"] }
reqwest = "0.12.15"
percent-encoding = "2.3.1"
rustls = "0.23.28"
dashmap = "6.1.0"

######
# The versions of the following dependencies are managed manually.
######

# The `tonic` version must match the one used in arrow-flight (replace `RELEASE` with the release we are using):
#   https://github.com/apache/arrow-rs/blob/RELEASE/arrow-flight/Cargo.toml
tonic = { version = "0.12.3", features = ["tls", "tls-roots", "gzip", "zstd"] }
tonic-build = "0.12.3"
tonic-reflection = "0.12.3"
tonic-health = "0.12.3"
tonic-types = "0.12.3"

datafusion = { version = "48.0.0", features = ["serde", "avro"] }
datafusion-common = { version = "48.0.0", features = ["object_store", "avro"] }
datafusion-expr = { version = "48.0.0" }
datafusion-expr-common = { version = "48.0.0" }
datafusion-proto = { version = "48.0.0" }
datafusion-functions-nested = { version = "48.0.0" }
datafusion-spark = { version = "48.0.0" }
datafusion-functions-json = { git = "https://github.com/lakehq/datafusion-functions-json.git", rev = "c4f4298" }
# auto-initialize: Changes [`Python::with_gil`] to automatically initialize the Python interpreter if needed.
pyo3 = { version = "0.24.2", features = ["auto-initialize", "serde"] }
arrow-buffer = { version = "55.2.0" }
arrow-schema = { version = "55.2.0", features = ["serde"] }
arrow-flight = { version = "55.2.0" }
arrow-pyarrow = { version = "55.2.0" }
serde_arrow = { version = "0.13.4", features = ["arrow-55"] }
# The `object_store` version must match the one used in DataFusion.
object_store = { version = "0.12.2", features = ["aws", "gcp", "azure", "http"] }
hdfs-native-object-store = "0.14.2"

# Lakehouse
deltalake = { version = "0.26.2", default-features = false, features = ["rustls"]}

######
# This is the end of the manually managed dependencies.
# Do not add more dependencies below.
######

[patch.crates-io]
# Override dependencies to use our forked versions.
# You can use `path = "..."` to temporarily point to your local copy of the crates to speed up local development.

[profile.release]
# https://doc.rust-lang.org/cargo/reference/profiles.html#release
opt-level = 3
debug = false
strip = true # Eliminate debug info to minimize binary size
debug-assertions = false
overflow-checks = false
lto = true
panic = 'unwind'
incremental = false
codegen-units = 1
