[workspace]
members = [
    "crates/hello",
    "crates/spark-connect-server",
    "crates/framework-telemetry",
]
resolver = "2"

[workspace.dependencies]
tokio = { version = "1.36.0", features = ["macros", "rt-multi-thread"] }
tracing = "0.1.40"
tracing-opentelemetry = "0.23.0"
tracing-subscriber = { version = "0.3.18", features = ["env-filter", "fmt", "json"] }
opentelemetry = { version = "0.22", features = ["trace"] }
# https://github.com/open-telemetry/opentelemetry-rust/blob/main/opentelemetry-jaeger/README.md?plain=1#L67
# https://github.com/open-telemetry/opentelemetry-rust/blob/main/opentelemetry-sdk/src/lib.rs#L97
opentelemetry_sdk = { version = "0.22", features = ["rt-tokio"] }
opentelemetry-semantic-conventions = "0.14.0"
opentelemetry-otlp = { version = "0.15.0", features = ["trace", "grpc-tonic"] }
opentelemetry-stdout = { version = "0.3.0", features = ["trace"] } # Temporary until we fully configure OpenTelemetry
thiserror = "1.0.58"