[workspace]
members = [
    "crates/hello",
    "crates/spark-connect-server",
    "crates/framework-telemetry",
    "crates/framework-python",
]
resolver = "2"

[workspace.dependencies]
tracing = { version = "0.1.40", features = ["attributes", "std", "log"] }
tracing-opentelemetry = { version = "0.23.0" }
tracing-subscriber = { version = "0.3.18", features = ["registry", "std", "smallvec", "fmt", "ansi", "tracing-log", "std", "env-filter", "json"] }
opentelemetry = { version = "0.22", features = ["trace", "metrics"] }
opentelemetry_sdk = { version = "0.22", features = ["trace", "metrics", "rt-tokio", "rt-tokio-current-thread"] }
opentelemetry-semantic-conventions = "0.14.0"
opentelemetry-otlp = { version = "0.15.0", features = ["trace", "metrics", "grpc-tonic", "tls", "tls-roots"] }
opentelemetry-proto = { version = "0.5.0" }
opentelemetry-stdout = { version = "0.3.0", features = ["trace"] } # Temporary until we fully configure OpenTelemetry
thiserror = { version = "1.0.58" }
tokio = { version = "1.36.0", features = ["full"] }
tonic = { version = "0.11", features = ["tls", "tls-roots"] }
tonic-build = "0.11"
tonic-reflection = "0.11"
tonic-health = "0.11"
prost = "0.12"
prost-types = "0.12"
pbjson = "0.6"
pbjson-types = "0.6"
pbjson-build = "0.6"
tower = { version = "0.4", features = ["full"] }
tower-http = { version = "0.4", features = ["full"] }
uuid = { version = "1.8.0", features = ["v4"] }
async-recursion = "1.1.0"
async-stream = "0.3"
lazy_static = "1.4.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_bytes = "0.11"
monostate = "0.1"
regex = "1.10"
glob = "0.3"
bincode = "1.3.3"
chrono = "0.4"
chrono-tz = "0.9"
#
# The versions of the following dependencies are managed manually.
#
datafusion = { version = "37.1.0", features = ["serde"] }
datafusion-common = { version = "37.1.0", features = ["object_store"] }
datafusion-expr = "37.1.0"
datafusion-functions-array = "37.1.0"
# auto-initialize: Changes [`Python::with_gil`] to automatically initialize the Python interpreter if needed.
# 0.21 breaks when datafusion has pyarrow enabled
pyo3 = { version = "0.21.2", features = ["auto-initialize", "serde"] }
# Should be the equivalent of enabling the pyarrow feature in datafusion since we already have pyo3 in the workspace
arrow = { version = "51.0.0", features = ["ffi"] }
arrow-cast = { version = "51.0.0" }
# 0.44.0 is the version that DataFusion 37.1.0 uses (DataFusion does not have serde enabled)
# It will co-exist with our patched newer version of sqlparser,
# until we stop relying on `SqlToRel` in DataFusion.
sqlparser = { version = "0.46.0", features = ["serde", "visitor"] }
polars = { version = "0.39.2", features = ["serde", "polars-io", "dtype-struct"] }
polars-arrow = { version = "0.39.2", features = ["serde", "arrow_rs"] }

[patch.crates-io]
# Override dependencies to use our forked versions.
# You can use `path = "..."` to temporarily point to your local copy of the crates
# to speed up local development.
sqlparser = { git = "https://github.com/lakehq/sqlparser-rs.git", branch = "literal-expressions" }
