services:
  minio:
    image: quay.io/minio/minio:latest
    command: ["server", "--address", ":9000", "--console-address", ":9001"]
    environment:
      MINIO_ROOT_USER: sail
      MINIO_ROOT_PASSWORD: password
      MINIO_VOLUMES: /mnt/data
    volumes:
      - minio-data:/mnt/data
    ports:
      - "19000:9000"
      - "19001:9001"
    healthcheck:
      test: ["CMD", "mc", "ready", "local"]
      start_period: 30s
      interval: 5s
      timeout: 5s
      retries: 6

  hdfs:
    build:
      context: ./scripts/hadoop
      dockerfile: Dockerfile
      args:
        HADOOP_USER_NAME: root

    ports:
      - "9870:9870"
      - "9000:9000"
      - "9864:9864"
    stop_grace_period: 90s


    healthcheck:
      test: ["CMD", "/opt/hadoop/bin/hdfs", "-test", "-e", "/user/root/test.json"]
      start_period: 60s
      interval: 60s
      timeout: 30s
      retries: 5



volumes:
  minio-data:
    driver: local
