{{ $operator := index .Values "opentelemetry-operator" }}
{{ $collector := index .Values "opentelemetry-collector-spec" }}
{{- if and (index $operator.enabled) (index $collector.enabled) }}
apiVersion: opentelemetry.io/v1alpha1
kind: OpenTelemetryCollector
metadata:
  name: {{ .Release.Name }}-{{ index $collector.mode }}
  labels:
    "app.kubernetes.io/managed-by": "opentelemetry-operator"
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "0"
spec:
  # TODO: Refactor to have a dedicated collector config for each mode so one or more modes (or all) can be deployed.
  mode: {{ index $collector.mode }}
  config:
    {{ tpl (toYaml (index $collector.config)) $ | nindent 2 }}
{{- end }}