@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --vp-sidebar-width: 280px;
}

.dark img.logo {
  filter: invert(1) hue-rotate(210deg);
}

a.footnote-backref {
  @apply no-underline;
  /* change font family to prevent special unicode characters shown as emoji in Chrome */
  @apply font-mono;
}

kbd {
  @apply inline-block rounded border px-2 py-1 align-middle font-mono text-sm;
  @apply bg-zinc-200 dark:bg-zinc-700;
  @apply text-zinc-800 dark:text-zinc-100;
  @apply border-zinc-400 dark:border-zinc-500;
  @apply shadow-zinc-400 dark:shadow-zinc-500;
  box-shadow: inset 0 -1px 0 var(--tw-shadow-color);
}

dl dt {
  @apply mt-8 leading-7 font-bold;
}

dl dd {
  @apply ml-8 leading-7;
}

.pycon-prompt {
  /* The prompt is not selectable so that it is easier to copy code. */
  @apply select-none;
}

code span.placeholder {
  @apply text-red-700 italic dark:text-red-200;
}
