@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --vp-sidebar-width: 280px;
}

.dark img.logo {
  filter: invert(1) hue-rotate(210deg);
}

a.footnote-backref {
  text-decoration: none;
  /* change font family to prevent special unicode characters shown as emoji in Chrome */
  font-family: monospace;
}

kbd {
  display: inline-block;
  border-radius: 0.25rem;
  border: 1px solid;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  vertical-align: middle;
  font-family: monospace;
  font-size: 0.875rem;
  background-color: rgb(229, 231, 235);
  color: rgb(31, 41, 55);
  border-color: rgb(156, 163, 175);
  box-shadow: inset 0 -1px 0 rgb(156, 163, 175);
}

.dark kbd {
  background-color: rgb(55, 65, 81);
  color: rgb(243, 244, 246);
  border-color: rgb(107, 114, 128);
  box-shadow: inset 0 -1px 0 rgb(107, 114, 128);
}

dl dt {
  margin-top: 2rem;
  line-height: 1.75rem;
  font-weight: bold;
}

dl dd {
  margin-left: 2rem;
  line-height: 1.75rem;
}

.pycon-prompt {
  /* The prompt is not selectable so that it is easier to copy code. */
  user-select: none;
}
