[package]
name = "sail-plan"
version = { workspace = true }
edition = { workspace = true }

[lints]
workspace = true

[dependencies]
sail-common = { path = "../sail-common" }
sail-common-datafusion = { path = "../sail-common-datafusion" }
sail-python-udf = { path = "../sail-python-udf" }
sail-sql-analyzer = { path = "../sail-sql-analyzer" }
sail-catalog = { path = "../sail-catalog" }
sail-data-source = { path = "../sail-data-source" }

datafusion = { workspace = true }
datafusion-common = { workspace = true }
datafusion-expr = { workspace = true }
datafusion-expr-common = { workspace = true }
datafusion-functions = { workspace = true }
datafusion-functions-nested = { workspace = true }
datafusion-physical-expr = { workspace = true }
datafusion-spark = { workspace = true }
datafusion-functions-json = { workspace = true }
thiserror = { workspace = true }
tonic = { workspace = true }
tokio-stream = { workspace = true }
async-trait = { workspace = true }
async-recursion = { workspace = true }
lazy_static = { workspace = true }
regex = { workspace = true }
futures = { workspace = true }
comfy-table = { workspace = true }
html-escape = { workspace = true }
chrono = { workspace = true }
chrono-tz = { workspace = true }
ryu = { workspace = true }
either = { workspace = true }
tokio = { workspace = true }
rand = { workspace = true }
rand_chacha = { workspace = true }
rand_distr = { workspace = true }
object_store = { workspace = true }
sha1 = { workspace = true }
twox-hash = { workspace = true }
aes = { workspace = true }
aes-gcm = { workspace = true }
cbc = { workspace = true }
base64 = { workspace = true }
half = { workspace = true }
crc32fast = { workspace = true }
num = { workspace = true }
arrow = { workspace = true }
serde = { workspace = true }
uuid = { workspace = true }
url = { workspace = true }
percent-encoding = { workspace = true }
