name: Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - uses: ./.github/actions/setup-rust

      - name: Format check
        run: cargo +nightly fmt -- --check

      - name: Run Clippy
        run: cargo clippy --all-targets --all-features -- -D warnings

      - name: Test
        run: cargo test

      - name: Cache Python package
        id: cache-python-package
        uses: actions/cache@v4
        with:
          path: |
            target/wheels
          key: python-package-${{ runner.os }}-${{ runner.arch }}-${{ github.sha }}

      - if: steps.cache-python-package.outputs.cache-hit != 'true'
        name: Build Python package
        uses: PyO3/maturin-action@v1

  spark-tests:
    name: Spark tests
    uses: ./.github/workflows/spark-tests.yml
    permissions:
      pull-requests: write
    needs:
      - build

  docs-build:
    name: Docs build
    if: ${{ github.event_name == 'pull_request' }}
    uses: ./.github/workflows/docs-build.yml
    needs:
      - build

  docs-release:
    name: Docs release
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    uses: ./.github/workflows/docs-release.yml
    strategy:
      max-parallel: 1
      matrix:
        stage: [dev, prod]
    permissions:
      id-token: write
    needs:
      - build
    with:
      stage: ${{ matrix.stage }}
      version: main
