name: Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/commit-baseline
        id: baseline

      - uses: ./.github/actions/commit-workflow
        id: baseline-workflow
        with:
          sha: ${{ steps.baseline.outputs.sha }}
          workflow_name: Build
          artifact_name: test-logs-after

      - run: |
          echo "${{ steps.baseline-workflow.outputs.workflow_run_id }}"

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - uses: ./.github/actions/setup-rust
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Format check
        run: cargo +nightly fmt -- --check

      - name: Run Clippy
        run: cargo clippy --all-targets --all-features -- -D warnings

      - name: Test
        run: cargo test

      - name: Build Python package
        uses: PyO3/maturin-action@v1

      - name: Upload Python package
        uses: actions/upload-artifact@v4
        with:
          name: python-package
          path: target/wheels
          retention-days: 1

  spark-tests:
    name: Spark tests
    uses: ./.github/workflows/spark-tests.yml
    permissions:
      pull-requests: write
    needs:
      - build

  python-build:
    name: Python build
    uses: ./.github/workflows/python-build.yml
    needs:
      - build

  docs-build:
    name: Docs build
    uses: ./.github/workflows/docs-build.yml
    strategy:
      matrix:
        stage: ${{ fromJSON(github.event_name == 'push' && '["dev", "prod"]' || '["test"]') }}
    needs:
      - build
    with:
      stage: ${{ matrix.stage }}
      version: main

  docs-deploy:
    name: Docs deploy
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    uses: ./.github/workflows/docs-deploy.yml
    strategy:
      max-parallel: 1
      matrix:
        stage: [dev, prod]
    permissions:
      id-token: write
    needs:
      - docs-build
    with:
      stage: ${{ matrix.stage }}
      version: main
