name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
permissions:
  contents: read
  pull-requests: write

env:
  RUSTFLAGS: -D warnings

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      run_spark_tests: ${{ steps.info.outputs.run_spark_tests }}
    steps:
      - uses: actions/checkout@v4
        with:
          # When the workflow is triggered by a pull request event, the commit being pushed
          # is a parent of the merge commit. So we need a fetch depth of 2 to get the commit message.
          fetch-depth: 2

      - name: Get job information
        id: info
        run: |
          commit="${{ github.event.pull_request.head.sha || github.sha }}"
          commit_message="$(git show --pretty='format:%s' -s "${commit}")"
          run_spark_tests="$(printf '%s' "${commit_message}" | grep -q -i '\[spark tests\]' && printf 'true' || printf 'false')"
          echo "run_spark_tests=${run_spark_tests}" >> "$GITHUB_OUTPUT"

      - uses: ./.github/actions/setup-rust

      - name: Format check
        run: cargo fmt -- --check

      - name: Build
        run: cargo build

      - name: Test
        run: cargo test

  run-spark-tests:
    uses: ./.github/workflows/run-spark-tests.yml
    if: |
      (github.event_name == 'pull_request' && github.event.action == 'opened') ||
      (github.event_name == 'pull_request' && needs.build.outputs.run_spark_tests == 'true') ||
      github.event_name == 'push'
    needs:
      - build
    with:
      head_ref: ${{ github.event_name == 'pull_request' && github.ref || github.event.after || github.sha }}
      base_ref: ${{ github.event_name == 'pull_request' && github.base_ref || github.event.before || github.sha }}
