name: Docs Tag Push

on:
  push:
    tags:
      - "docs/v*"
      - "docs/latest"

jobs:
  setup:
    name: Setup
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.info.outputs.version }}
    steps:
      - name: Collect Release Information
        id: info
        env:
          GIT_TAG_REF: ${{ github.ref }}
        run: |
          tag="${GIT_TAG_REF#refs/tags/}"
          case "$tag" in
            docs/v*)
              version="${tag#docs/v}"
              ;;
            docs/latest)
              version=latest
              ;;
            *)
              echo "Invalid tag reference: ${GIT_TAG_REF}"
              exit 1
              ;;
          esac
          if [[ "$version" == *"/"* ]]; then
            echo "Invalid version: $version"
            exit 1
          fi
          echo "version=$version" >> "$GITHUB_OUTPUT"
        shell: bash

  build:
    name: Build
    runs-on: ubuntu-latest
    needs:
      - setup
    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/adjust-swap-space

      - uses: ./.github/actions/mount-target-directory

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - uses: ./.github/actions/setup-rust
        with:
          cache-key: rust-build
          install-testing-tools: false

      - name: Build Python Package
        uses: PyO3/maturin-action@v1

      - name: Upload Python Package
        uses: actions/upload-artifact@v4
        with:
          name: python-package
          path: target/wheels
          retention-days: 1

  docs-build:
    name: Docs Build
    uses: ./.github/workflows/docs-build.yml
    strategy:
      matrix:
        stage: [dev, prod]
    needs:
      - setup
      - build
    with:
      stage: ${{ matrix.stage }}
      version: ${{ needs.setup.outputs.version }}
      package_run_id: ${{ github.run_id }}

  docs-deploy:
    name: Docs Deploy
    uses: ./.github/workflows/docs-deploy.yml
    strategy:
      max-parallel: 1
      matrix:
        stage: [dev, prod]
    permissions:
      id-token: write
    needs:
      - setup
      - docs-build
    with:
      stage: ${{ matrix.stage }}
      version: ${{ needs.setup.outputs.version }}
