name: Gold Data Script Validation

on:
  push:
    branches: [main]
    paths:
      - "scripts/spark-gold-data/**"
  pull_request:
    branches: [main]
    paths:
      - "scripts/spark-gold-data/**"

jobs:
  validate:
    name: Validate
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/adjust-swap-space

      - uses: ./.github/actions/mount-target-directory

      - uses: actions/checkout@v4
        name: Checkout Spark
        with:
          repository: apache/spark
          path: opt/spark
          ref: v4.1.0
          fetch-depth: 1

      - uses: actions/setup-java@v4
        with:
          distribution: "corretto"
          java-version: "17"

      - uses: ./.github/actions/setup-rust

      - name: Bootstrap Gold Data
        run: |
          scripts/spark-gold-data/bootstrap.sh

      - name: Update Gold Data
        run: |
          env SAIL_UPDATE_GOLD_DATA=1 cargo nextest run

      - uses: ./.github/actions/detect-changes
