name: Lint

on:
  push:
    branches: [main]
    paths:
      - ".github/**"
      - "crates/**"
      - "python/**"
      - "Cargo.toml"
      - "Cargo.lock"
      - "clippy.toml"
      - "pyproject.toml"
      - "rustfmt.toml"
  pull_request:
    branches: [main]
    paths:
      - ".github/**"
      - "crates/**"
      - "python/**"
      - "Cargo.toml"
      - "Cargo.lock"
      - "clippy.toml"
      - "pyproject.toml"
      - "rustfmt.toml"

jobs:
  rust-lint:
    name: Rust Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/setup-rust
        with:
          cache-key: rust-lint
          install-coverage-tools: false

      - name: Run Format Check
        run: cargo +nightly fmt -- --check

      - name: Run Clippy
        run: cargo clippy --all-targets --all-features -- -D warnings

  python-fmt:
    name: Python Format Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Hatch
        uses: pypa/hatch@install

      - name: Format Check
        run: hatch fmt --check
