name: Multi-platform Build

on:
  # This workflow is triggered manually for ad-hoc development purposes.
  # It builds and tests the Python package for selected platforms.
  workflow_dispatch:
    inputs:
      build_linux_x86_64:
        description: "Build for Linux (x86_64)"
        type: boolean
        required: true
      build_linux_aarch64:
        description: "Build for Linux (aarch64)"
        type: boolean
        required: true
      build_macos_x86_64:
        description: "Build for macOS (x86_64)"
        type: boolean
        required: true
      build_macos_aarch64:
        description: "Build for macOS (aarch64)"
        type: boolean
        required: true
      build_windows_x64:
        description: "Build for Windows (x64)"
        type: boolean
        required: true

jobs:
  setup:
    name: Setup
    runs-on: ubuntu-slim
    outputs:
      platforms: ${{ steps.define-platforms.outputs.result }}
    steps:
      - id: define-platforms
        uses: actions/github-script@v7
        with:
          script: |
            const platforms = [];
            if (context.payload.inputs.build_linux_x86_64 == 'true') {
              platforms.push({ runner: 'ubuntu-24.04', target: 'x86_64', os: 'linux' });
            }
            if (context.payload.inputs.build_linux_aarch64 == 'true') {
              platforms.push({ runner: 'ubuntu-24.04-arm', target: 'aarch64', os: 'linux' });
            }
            if (context.payload.inputs.build_macos_x86_64 == 'true') {
              platforms.push({ runner: 'macos-15-intel', target: 'x86_64', os: 'macos' });
            }
            if (context.payload.inputs.build_macos_aarch64 == 'true') {
              platforms.push({ runner: 'macos-14', target: 'aarch64', os: 'macos' });
            }
            if (context.payload.inputs.build_windows_x64 == 'true') {
              platforms.push({ runner: 'windows-2022', target: 'x64', os: 'windows' });
            }
            return platforms;

  build:
    name: Build
    runs-on: ${{ matrix.platform.runner }}
    continue-on-error: true
    strategy:
      matrix:
        platform: ${{ fromJSON(needs.setup.outputs.platforms) }}
    needs:
      - setup
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Hatch
        uses: pypa/hatch@install

      - name: Install protoc
        id: protoc
        uses: arduino/setup-protoc@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Wheels
        uses: PyO3/maturin-action@v1
        env:
          CARGO_INCREMENTAL: 0
          CARGO_PROFILE_DEV_DEBUG: 0
          # Override the linker on Windows since the default MSVC linker has some issues
          # for the debug build: `LINK : fatal error LNK1318: Unexpected PDB error; LIMIT (12)`.
          RUSTFLAGS: ${{ matrix.platform.os == 'windows' && '-C linker=rust-lld.exe' || '' }}

      - name: Upload Wheels
        uses: actions/upload-artifact@v4
        with:
          name: python-package-${{ matrix.platform.os }}-${{ matrix.platform.target }}
          path: target/wheels
          retention-days: 1

      - name: Set Up Hatch Environment
        run: hatch run install-pysail

      - name: Run Tests
        run: hatch run pytest --pyargs pysail
