name: Publish Ibis Report

on:
  workflow_run:
    workflows: ["Ibis Tests"]
    types:
      - completed

permissions:
  contents: read
  actions: read
  pull-requests: write

jobs:
  report:
    name: Report
    if: github.event.workflow_run.event == 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/pull-request-report
        if: github.event.workflow_run.name == 'Ibis Tests' && github.event.workflow_run.conclusion == 'success'
        with:
          workflow_run_id: ${{ github.event.workflow_run.id }}
          artifact_name: ibis-report
          report_name: ibis
