name: Pull Request Validation

on:
  pull_request_target:
    types:
      - opened
      - edited
      - reopened

jobs:
  title:
    name: Validate title
    runs-on: ubuntu-slim
    permissions:
      pull-requests: read
    steps:
      - uses: amannn/action-semantic-pull-request@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          types: |
            feat
            fix
            docs
            style
            refactor
            perf
            test
            build
            ci
            chore
            revert
            deps
          scopes: |
            cargo
            npm
          subjectPattern: "^(?![A-Z]).+$"
          subjectPatternError: |
            The subject "{subject}" in the pull request title does not match the configured pattern.
            Please ensure that the subject does not start with an uppercase letter.
            If the subject contains words that should start with an uppercase letter (e.g. "Rust"),
            consider rephrasing the subject so that such words are not at the start.
