name: Python Lint

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
    paths:
      - ".github/**"
      - "python/**"
      - "pyproject.toml"

jobs:
  python-lint:
    name: Python Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Hatch
        uses: pypa/hatch@install

      - name: Format Check
        run: hatch fmt --check
