name: Python Build

on:
  workflow_call:
    inputs:
      python_ref:
        description: The ref for the Python package artifact to use
        type: string
        required: true

jobs:
  python-build:
    name: Python Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Hatch
        uses: pypa/hatch@install

      - name: Format Check
        run: hatch fmt --check

      - name: Download Python Package
        uses: actions/download-artifact@v4
        with:
          name: python-package-${{ inputs.python_ref }}
          path: target/wheels

      - name: Set Up Hatch Environment
        run: |
          hatch env create
          hatch run install-pysail

      - name: Verify Package Version
        run: |
          declared_version="$(hatch version)"
          actual_version="$(hatch run python -c 'import pysail; print(pysail.__version__)')"
          echo "Declared version: $declared_version"
          echo "Actual version: $actual_version"
          if [ "$declared_version" != "$actual_version" ]; then
            echo "The declared version does not match the actual version."
            exit 1
          fi

      - name: Run Tests
        run: hatch run pytest --pyargs pysail
