name: Run Spark tests and generate a test report
on:
  workflow_call:
permissions:
  contents: read
  pull-requests: write

jobs:
  test-head:
    uses: ./.github/workflows/run-spark-tests-internal.yml
    with:
      ref: ${{ github.ref }}
      name: head

  test-base:
    uses: ./.github/workflows/run-spark-tests-internal.yml
    with:
      # FIXME: use `${{ github.base_ref }}`
      ref: ${{ github.ref }}
      name: base
    # Test the base branch only after the head branch has been tested successfully.
    # The base test also runs faster since the Spark environment is likely cached by the head test.
    needs:
      - test-base

  report:
    runs-on: ubuntu-latest
    needs:
      - test-head
      - test-base
    steps:
      - uses: actions/checkout@v4

      - name: Install jq
        run: |
          wget -q -O /usr/local/bin/jq "https://github.com/jqlang/jq/releases/download/jq-1.7.1/jq-linux-amd64"
          chmod +x /usr/local/bin/jq
          jq --version

      - name: Download head test logs
        uses: actions/download-artifact@v4
        with:
          name: test-logs-head
          path: /tmp/head

      - name: Download base test logs
        uses: actions/download-artifact@v4
        with:
          name: test-logs-base
          path: /tmp/base

      - name: Generate test report
        run: |
          scripts/spark-tests/generate-test-report.sh /tmp/head /tmp/base \
          > /tmp/test-report.md

      - name: Publish test report
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          path: /tmp/test-report.md
