name: Rust Lint

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
    paths:
      - ".github/**"
      - "crates/**"
      - "Cargo.toml"
      - "Cargo.lock"
      - "clippy.toml"
      - "rustfmt.toml"

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/setup-rust
        with:
          cache-key: rust-lint
          install-testing-tools: false
          install-nightly-toolchain: true

      - name: Run Format Check
        run: cargo +nightly fmt -- --check

      - name: Run Clippy
        run: cargo clippy --all-targets --all-features -- -D warnings
