[package]
name = "sail-spark-connect"
version = { workspace = true }
edition = { workspace = true }

[lints]
workspace = true

[dependencies]
sail-cache = { path = "../sail-cache" }
sail-common = { path = "../sail-common" }
sail-common-datafusion = { path = "../sail-common-datafusion" }
sail-server = { path = "../sail-server" }
sail-plan = { path = "../sail-plan" }
sail-python-udf = { path = "../sail-python-udf" }
sail-sql-analyzer = { path = "../sail-sql-analyzer" }
sail-execution = { path = "../sail-execution" }
sail-session = { path = "../sail-session" }

thiserror = { workspace = true }
tokio = { workspace = true }
tonic = { workspace = true }
tonic-types = { workspace = true }
tonic-prost = { workspace = true }
prost = { workspace = true }
prost-types = { workspace = true }
pbjson = { workspace = true }
pbjson-types = { workspace = true }
uuid = { workspace = true }
datafusion = { workspace = true }
async-stream = { workspace = true }
lazy_static = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
monostate = { workspace = true }
regex = { workspace = true }
phf = { workspace = true }
log = { workspace = true }
futures = { workspace = true }
fastrace = { workspace = true }

[build-dependencies]
prost-build = { workspace = true }
tonic-prost-build = { workspace = true }
pbjson-build = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
syn = { workspace = true }
quote = { workspace = true }
prettyplease = { workspace = true }
regex = { workspace = true }
